    <!-- SECTION FOR CAROUSEL -->
    <div class="container-fluid sectionCarousel">
      <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="imgs/crsl/redhat.png" class="d-block w-100" alt="Imagén " data-bs-interval="2000" >
          </div>
        </div>
      </div>
    </div>
    <div id="rhel"></div>
    <div id="rel" class="container scroll-content fadeIn" style="padding: 20px;">
      <div class="row">
        <div class="col-xl-8">
          <h2 class="titleRed">¿Qué es Red Hat Enterprise Linux?</h2>
          <p>
            Red Hat Enterprise Linux es la solución de Sistemas Operativos Linux que te<br /> 
            ayudará a optimizar tus recursos empresariales, costos de operación, pero<br /> 
            sobre todo a incorporar una mayor seguridad a tus aplicaciones. Gracias a la<br /> 
            colaboración de Red Hat con la comunidad de código abierto, RHEL te ayudará<br /> 
            a mantener tu sistema operativo actualizado e incorporar rápidamente todas<br /> 
            las mejores y fixes que sean necesarios, para tener mayor confiabilidad,<br /> 
            disponibilidad y compatibilidad con casi todo el software empresarial, mejor<br /> 
            interacción con servicios cloud, automatización y otras tecnologías emergentes.<br /> 
          </p>
        </div>
        <div class="col-xl-4">
          <div class="">
                <img src="imgs/cards/cardOne.png" style="width: 275px; margin-top: 65px;">
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:40px;">
        <div class="col-xl-3 text-justify">
          <img src="imgs/cards/cardTwo.png" style="width:100%;">
        </div>
        <div class="col-xl-9">
          <div class="">
            <p style="margin-top:60px;">
              No lo dudes más y acércate con nosotros para conocer cómo podemos <br>
              apoyarte en tu jornada con Red Hat, así como todos los beneficios que <br>
              ponemos a tu alcance.<br>
            <a id="bckRed" class="btn btn-success" href="#contact" role="button">¡Empieza Ahora!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="ansi"></div>
    <div id="ansible" class="container scroll-content fadeIn" style="padding: 20px;">
      <div class="row">
        <div class="col-xl-3 ">
          <img src="imgs/cards/cardThree.png" style="width:100%; margin-top:70px;">
        </div>
        <div class="col-xl-9">
          <div class="">
          <h2 class="titleGreen">¿Qué es Red Hat Ansible Automation Platform?</h2>
            <p >
              Red Hat Ansible Automation Platform es el mejor aliado para las
              automatizaciones en entornos cloud, on premise e híbridos.
              Mejora los tiempos de implementación y configuración, de
              semanas o meses a solamente minutos u horas. Con ansible
              podrás automatizar tareas, procesos y la operación de:
            </p>
            <ul id="listAnsi">
              <li>Infraestructura</li>
              <li>Aplicaciones</li>
              <li>Redes</li>
              <li>Contenedores</li>
              <li>Seguridad</li>
              <li>Nube</li>
            </ul>
            <p >
              No lo dudes más y acércate con nosotros para conocer cómo podemos
              apoyarte en tu jornada con Red Hat, así como todos los beneficios que
              ponemos a tu alcance. <br>
            <a id="bckGreen" class="btn btn-success" href="#contact" role="button">¡Empieza Ahora!</a>

            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="opsh"></div>
    <div id="opensh" class="container scroll-content fadeIn" style="padding: 20px;">
      <div class="row">
        <div class="col-xl-9">
          <div class="">
          <h2 class="titleRed">¿Qué es Red Hat OpenShift?</h2>
            <p >
              Es la plataforma más grande de contenedores Kubernetes
              empresarial, está diseñada para cumplir con las necesidades
              principales de la nube híbrida, puede automatizar procesos,
              componentes básicos, diseños de bases de datos y aplicaciones.
              Facilita la implementación de soluciones de ambientes de
              desarrollo a producción de manera fácil, sencilla, y rapida.<br>
            <a id="bckRed" class="btn btn-success" href="#contact" role="button">¡Empieza Ahora!</a>
            </p>
          </div>
        </div>
        <div class="col-xl-3">
          <img src="imgs/cards/cardFour.png" style="width:100%;">
        </div>
      </div>
    </div>
    <div id="ccsp"></div>
    <div id="ccspdiv" class="container scroll-content fadeIn" style="padding: 20px;">
      <div class="row">
        <div class="col-xl-3">
          <a href="http://wcsit.mx/" target="_blank"><img src="imgs/cards/wcsit.jpg" style="width:100%;"></a>
        </div>
        <div class="col-xl-9">
          <div class="">
          <h2 class="titleGreen">¿Qué es Red Hat CCSP (Certified Cloud and Service Provider)?</h2>
            <p >
              WCS IT Consulting es socio oficial del programa Red Hat CCSP, lo
              que nos permite alojar y revender las ofertas de Red Hat a todos
              nuestros clientes, en función del uso, ya sea en sus instalaciones,
              en una nube privada, pública o híbrida. Gracias a CCSP, podemos
              ofrecer modelos de consumo flexibles, para permitir a nuestros
              clientes optimizar sus costos y enfocarse a sus objetivos de
              negocio.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-9">
          <div style="margin-top:50px;">
            <p style="margin-left: 40px;">
              WCSIT Consulting puede hacerse cargo también de la operación y
              administración de sus ambientes críticos, ya sea en nuestra nube
              o en un esquema on-premise o híbrido.
              WCS IT Consulting ha apoyado a diferentes clientes, no solo a
              elegir el modelo de consumo que mejor se adapte a sus
              necesidades, sino también a lograr las metas de certificación de
              sus ingenieros, con diferentes talleres, diseño de soluciones e
              implementación del amplio portafolio de productos de Red Hat.
            <a id="bckGreen" class="btn btn-success" href="#contact" role="button">¡Empieza Ahora!</a>

            </p>
          </div>
        </div>
        <div class="col-xl-3">
          <img src="imgs/cards/cardFive.png" style="width:100%;">
        </div>
      </div>
    </div>
    <div id="contact"></div>
    <div id="ctct" class="container scroll-content fadeIn" style="padding: 20px;">
      <div class="row">
          <h2 class="titleRed">Contacto</h2>
          <div class="col-sm-12 col-md-6">
            <div class="column columnContact" ng-controller="mailCtrl">
                <form id="formContact" name="myForm" class="form-floating" novalidate>
                    
                    <div class="form-floating mb-3">
                        <input name="nameUserContact" ng-model="user.nameUserContact" type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre Completo" required>
                        <label for="formGroupExampleInput">Nombre y Apellido</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="buildUserContact" ng-model="user.buildUserContact" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nombre Empresa" required>
                        <label for="formGroupExampleInput2">Empresa</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="mailUserContact" ng-model="user.mailUserContact" type="email" class="form-control" id="formGroupExampleInput3" placeholder="uncorreo@host.com" required>
                        <label for="formGroupExampleInput2">Correo Electrónico</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="telUserContact" ng-model="user.telUserContact"  type="text" class="form-control" id="formGroupExampleInput4" placeholder="Su nùmero a 10 digitos" required>
                        <label for="formGroupExampleInput3">Teléfono</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea style="width:100%;" name="bodyMsgContact" ng-model="user.bodyMsgContact"  class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escriba su mensaje" required></textarea>
                        <label for="exampleFormControlTextarea1">Mensaje</label>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-8 ">
                                <button style="width:100%;" id="go" ng-disabled="myForm.$invalid" type="submit" ng-click="sendMail(user)" class="btn btn-primary">Enviar</button>
                            </div>
                            <div class="col-4">
                                <a class="text-center" href="http://www.inacom.com.mx/aviso-de-privacidad/" target="_blank">Aviso de Privacidad</a>

                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:20px;">
                        <div class="row">
                            <div class="col-12">
                            <div class="alert alert-danger" role="alert" ng-show="myForm.nameUserContact.$dirty && myForm.nameUserContact.$invalid">
                                <span  ng-show="myForm.nameUserContact.$error.required">Ingrese su nombre.</span>
                            </div>
                            <div class="alert alert-danger" role="alert" ng-show="myForm.telUserContact.$dirty && myForm.telUserContact.$invalid">
                                <span ng-show="myForm.telUserContact.$error.required">Ingrese su número teléfonico.</span>
                            </div>
                            <div class="alert alert-danger" role="alert" ng-show="myForm.mailUserContact.$dirty && myForm.mailUserContact.$invalid">
                                <span ng-show="myForm.mailUserContact.$error.required">Ingrese una dirección de correo.</span>
                                <span ng-show="myForm.mailUserContact.$error.email">Ingrese una dirección de correo valida.</span>
                            </div>
                            <div class="alert alert-danger" role="alert" ng-show="myForm.bodyMsgContact.$dirty && myForm.bodyMsgContact.$invalid">
                                <span ng-show="myForm.bodyMsgContact.$error.required">Escriba su mensaje.</span>
                            </div>
                            <div id="showMsg" class="alert alert-success" role="success" ng-show="myForm.$submitted" >
                                <span >Gracias su mensaje se envio exitosamente</span>
                            </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 scroll-content fadeIn">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.4949032220147!2d-99.18572688575331!3d19.34771208693257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fffa12735c55%3A0x13f7e287291e237a!2sAv%20Miguel%20%C3%81ngel%20de%20Quevedo%2091-Piso%202%20Oficina%202%2C%20Chimalistac%2C%20%C3%81lvaro%20Obreg%C3%B3n%2C%2001070%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1647359295738!5m2!1ses-419!2smx"
              width="100%" height="100%" style="border: solid 1px #c8c8c8; width: 100%; min-height: 360px;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <!-- <div class="col-xl-3">
          <img src="imgs/cards/cardFour.png" style="width:100%;">
        </div> -->
      </div>
    </div>

    <!-- SECTION FOR CARDS SERVICES -->
    <!-- <div class="container-fluid  " >
        <div class="column">
          <div class="row scroll-content fadeIn" >
            <div class="col-xl-4 col-lg-12 col-md-12 " id="containerCards" >
              <div class="card" >
                <img src="imgs/cards/cardOne.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <a href="#!hyper"><h2>Hyperconvergencia</h2></a>
                  <p class="card-text">Acelere la modernización del centro de datos, motive la transformación de la TI y simplifique la ruta hacia la nube híbrida con una plataforma de HCI lista para usar.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12" id="containerCards">
              <div class="card" style="margin-top:100px;">
                <img src="imgs/cards/cardOne.jpg" class="card-img-top" alt="..." >
                <div class="card-body">
                  <a href="#!storage"><h2>Almacenamiento</h2></a>
                  <p class="card-text">Dell technologies cuenta con tres soluciones de almacenamiento Power Store, Power Max y Unity XT.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12" id="containerCards">
              <div class="card" >
                <img src="imgs/cards/cardOne.jpg" class="card-img-top" alt="..." >
                <div class="card-body">
                  <a href="#!servers"><h2>Servidores</h2></a>
                  <p class="card-text">Los servidores en torre PowerEdge ofrecen la versatilidad y el rendimiento ideales, y operaciones silenciosas, ideales para oficinas pequeñas, grandes y remotas.</p>
                </div>
              </div>
          <div class="row scroll-content fadeIn" >
          </div>

            </div>
        </div>
        <div class="row scroll-content fadeIn" >
            <div class="col-xl-4 col-lg-12 col-md-12" id="containerCards">
              <div class="card" >
                <img src="imgs/cards/cardOne.jpg" class="card-img-top" alt="..." >
                <div class="card-body">
                  <a href="#!optplx"><h2>OPTIPLEX</h2></a>
                  <p class="card-text">Equipos de escritorio empresariales esenciales con rendimiento optimizado para impulsar el máximo valor.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4  col-lg-12 col-md-12 " id="containerCards"style="margin-top:100px;">
              <div class="card" >
                <img src="imgs/cards/cardOne.jpg" class="card-img-top" alt="..." >
                <div class="card-body">
                  <a href="#!lttd"><h2>LATITUDE</h2></a>
                  <p class="card-text">Las series Dell Latitude están diseñadas para la plataforma Intel® Evo™ vPro®.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4  col-lg-12 col-md-12" id="containerCards">
              <div class="card" >
                <img src="imgs/cards/cardOne.jpg" class="card-img-top" alt="..." >
                <div class="card-body">
                  <a href="#!prscn"><h2>PRECISION</h2></a>
                  <p class="card-text">Precision 3240 Compact combina gráficos NVIDIA® RTX 3000, procesadores Intel® Xeon® y Dell Optimizer for Precision.</p>
                </div>
              </div>
            </div>
        </div>
    </div> -->
      
    <!-- SECTION FOR FOOTER -->
    <div class="container-fluid bg-dark scroll-content ">
      <div id="footer" >
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="newSection">
                <div class="container">
                    <div class="row">
                        <div class="social col-xxl-12">
                            <p class="text-center text-light">INACOM  de México, S.A. de C.V. | Av Miguel Angel de Quevedo #91
                                <br /> Álvaro Obregón, Ciudad de México
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="text-center" id="social-footer">
                                <a href="https://www.facebook.com/inacom.mx " target="_blank ">
                                    <svg xmlns="http://www.w3.org/2000/svg " width="32 " height="32 " fill="#c0c0c0 " class="social-icon bi bi-facebook " viewBox="0 0 16 16 ">
                                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993
                                0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z "/>
                                    </svg>
                                </a>
                                <a href="https://www.instagram.com/inacom_mx/?hl=es" target="_blank ">
                                    <svg xmlns="http://www.w3.org/2000/svg " width="32 " height="32 " fill="#c0c0c0 " class="social-icon bi bi-instagram " viewBox="0 0 16 16 ">
                                            <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174
                                1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99
                                10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007
                                3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478
                                2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24
                                1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z "/>
                                    </svg>
                                </a>
                                <a href="https://twitter.com/inacom_mx" target="_blank ">
                                    <svg xmlns="http://www.w3.org/2000/svg " width="32 " height="32 " fill="#c0c0c0 " class="social-icon bi bi-twitter " viewBox="0 0 16 16 ">
                                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875
                                6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0
                                1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z "/>
                                    </svg>
                                </a>
                                <a href="https://mx.linkedin.com/company/inacommexico" target="_blank ">
                                    <svg xmlns="http://www.w3.org/2000/svg " width="32 " height="32 " fill="#c0c0c0 " class="social-icon bi bi-linkedin " viewBox="0 0 16 16 ">
                                            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554
                                1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274
                                0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z "/>
                                    </svg>
                                </a>
                                <a href="mailto:claudia.ramirez@inacom.com.mx " target="_blank ">
                                    <svg xmlns="http://www.w3.org/2000/svg " width="32 " height="32 " fill="##c0c0c0 " class="social-icon bi bi-envelope-fill " viewBox="0 0 16 16 ">
                                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16
                                11.801V4.697l-5.803 3.546Z "/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>